<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="profile-item">
            <img style="width:1536,height2048;"src="pfp_grant" id="pfp" alt="profile-pic">
            <h1><i>Grant Fairfield</i></h2>
            <div style="padding:20px">
                <p>
                    I am a current smartphone/computer technician and aspiring software developer. I'm currently in my senior year at FAU studying computer science.
                    I enjoy traveling and playing music, I hope to one day become a fully remote web developer.
                </p>    
            </div>
        </div>
        <div class="experience-item section">
            <h2 style="float:left;">Experience/Tools</h2>
            <ul style="float:inline-start;">
                <li>HTML/CSS/Bootstrap</li>
                <li>JavaScript/jQuery</li>
                <li>Python</li>
                <li>C++/SFML</li>
                <li>Java</li>
                <li>SQL/mySQL</li>
                <li>Assembly</li>
                <li>Git</li>
            </ul>
        </div>
        <div class="projects-item section">
            <hr>
            <ol style="float:left;">
                <li>Minesweeper Game clone
                    <ul> 
                        <li>Created a fully functioning clone of the game Minesweeper using C++ and the SFML library</li>
                    </ul>
                </li>
                <li>Personal Website
                    <ul>
                        <li>Created a personal webpage to store a more interactive and aesthetic version of my resume using HTML/CSS, Bootstrap, JavaScript and hosting using AWS</li>
                    </ul>
                </li>
                <li>'Libster' Library App
                    <ul>
                        <li>Created an IOS library application for storing and reading books online in a user friendly and aesthetically pleasing way, using Swift and the OpenLibrary API in Xcode. Was part of a team of 3.</li>
                    </ul>
                </li>
                <li>ResurrecTech Website
                    <ul>
                        <li>Worked with a partner to build a business website for my startup tech repair company 'ResurrecTech' using HTML/CSS/Javascript. An actively ongoing project</li>
                    </ul>
                </li>
            </ol>
            <h2 style="float:inline-start;">Projects</h2>
        </div>
        <div class="hobbies-item section">
            <hr>
            <h2 style="margin: 25px;text-align:center;">Hobbies</h2>
            <div>
                <p style="margin-left:250px;margin-right:250px;max-width:1333px">
                    In my spare time I mostly enjoy traveling and spending time with my friends exploring new places.
                    I plan on travelling much more but so far I have been to most places acorss the US, I have also been to Medellin, Colombia and Cancun, Mexico.
                    I also enjoy playing guitar, exercising and playing video games.
                </p>
            </div>
        </div>
    </div>
</body>
</html>