html{
    background-color: lightgray;
}

.container {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "profile-item experience-item"
      "profile-item projects-item"
      "profile-item hobbies-item";
    background-color: rgba(214, 144, 39, 0.877);
    width:100vw;
    height:100vh;  
}
  
.profile-item {
    grid-area: profile-item;
    justify-content: center;
    text-align: center;
}
  
.experience-item {
    grid-area: experience-item;
}
  
.projects-item {
    grid-area: projects-item;
}
  
.hobbies-item {
    grid-area: hobbies-item;
}

img#pfp {
    height: 250px;
    width: 230px;
    border-radius: 50%;
    margin-top: 30px;
}

div.section {
    background-color: whitesmoke;
    margin:0;
    width:100%;
    vertical-align: middle;
}

h2{
    margin: 50px;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 125px;
}

ol{
    margin-left: 50px;
}

ul{
    margin:15px;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 800px;
}

hr{
   border: 3px dashed lightslategray; 
}

