<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Online Library</title>

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<style>
    .d-flex {
        display: flex;
    }

    .justify-content-center {
        justify-content: center;
    }

    .centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal {
        text-align: center;
    }

    .cart-count {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        text-align: center;
        background-color: red;
        color: white;
        font-size: 14px;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
    }

    .cart-count.added {
        transform: scale(1.2);
    }

    .navbar {
        background-color: #FCCB00;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .center,
    .my-3 {
        text-align: center;
        justify-content: center;
    }

    .modal-backdrop.show {
        opacity: 0.5;
        background-color: black;
    }

    .modal-header {
        border: none;
    }

    .modal-content {
        border-radius: 0;
        box-shadow: none;
    }

    #checkout-modal .close {
        display: none;
    }

    #checkout-modal .modal-content {
        border-color: green;
    }

    .book-img {
        height: 200px;
        width: 150px
    }

    @media (max-height: 55vh) {
        .navbar {
            position: static;
        }
    }
</style>

<body>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="http://localhost:3000/">
            <i class="fas fa-home"></i> Online Library
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-3">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#loginModal">
                        Logout
                    </button>
                </li>
                <li class="nav-item ml-3" id="my-books">
                    <button type="button" class="btn btn-info">Borrowed Books</button>
                </li>
            </ul>
        </div>
    </nav>


    <h1 class="center">MY CART</h1>


    <!-- Book table -->
    <div class="container my-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>ISBN</th>
                    <th>Image Link</th>
                    <th></th> <!-- New column for the button -->
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- Checkout Modal -->
    <div class="modal fade" id="checkoutModal" tabindex="-1" role="dialog" aria-labelledby="checkoutModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="checkoutModalLabel">Checkout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to checkout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmCheckoutButton">Checkout</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Checkout button -->
    <div class="container my-3">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#checkoutModal"
            id="checkoutButton">Checkout</button>
    </div>

    <div class="modal fade" id="checkout-modal" tabindex="-1" role="dialog" aria-labelledby="checkout-modal-label"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="border-color: green;">
                <div class="modal-header">
                    <h5 class="modal-title" id="checkout-modal-label">Success!</h5>
                </div>
                <div class="modal-body">
                    Your books have been successfully checked out.
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- explicit js code -->
    <script src="js/file2.js"></script>
</body>

</html>