<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Online Library</title>

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<style>
    .d-flex {
        display: flex;
    }

    .justify-content-center {
        justify-content: center;
    }

    .centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal {
        text-align: center;
    }

    .cart-count {
        display: inline-block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 50%;
        text-align: center;
        background-color: red;
        color: white;
        font-size: 14px;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
    }

    .cart-count.added {
        transform: scale(1.2);
    }

    .navbar {
        background-color: #FCCB00;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .center,
    .my-3 {
        text-align: center;
        justify-content: center;
    }

    @media (max-height: 55vh) {
        .navbar {
            position: static;
        }
    }
</style>

<body onload="updateTable()">

    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter password">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="modalButton">Login</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="http://localhost:3000/">
            <i class="fas fa-home"></i> Online Library
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-3">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#loginModal">
                        Logout
                    </button>
                </li>
                <li class="nav-item ml-3" id="my-books">
                    <button type="button" class="btn btn-info">Borrowed Books</button>
                </li>
            </ul>
        </div>
    </nav>


    <h1 class="center">MY CART</h1>


    <!-- Book table -->
    <div class="container my-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Year</th>
                    <th>ISBN</th>
                    <th>Image Link</th>
                    <th></th> <!-- New column for the button -->
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- Checkout button -->
    <div class="container my-3">
        <button type="button" class="btn btn-primary">Checkout Books</button>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <!-- explicit js code -->
    <script>
        let cart = JSON.parse(localStorage.getItem("cart"))
        function updateTable() {

            // Get a reference to the table body and clear its contents
            const tableBody = document.querySelector('tbody');
            tableBody.innerHTML = '';

            // Loop through each search result and add it to the cart array
            cart.forEach((book) => {
                // Create a new table row for the search result
                const row = document.createElement('tr');

                // Populate the table row with data from the search result
                row.innerHTML = `
                    <td>${book.title}</td>
                    <td>${book.author}</td>
                    <td>${book.published}</td>
                    <td>${book.isbn}</td>
                    <td><img src="${book.img}"></td>
                    <td><button id="book-button" class="btn btn-danger" data-book="${book.title}">Remove from Cart</button></td>
                `;
                // set the inner HTML of the new row with data from the book object
                tableBody.appendChild(row);

            });
            buttonEventListener()
        }

        // This function adds an event listener to all buttons with the class "btn-primary"
        const buttonEventListener = () => {
            const btnPrimary = document.querySelectorAll('button.btn-danger');

            // Iterate over each button and add a click event listener
            btnPrimary.forEach((button) => {

                // If the user is not logged in, show an alert message
                button.addEventListener('click', (event) => {
                    const book = event.target.dataset.book;
                    cart = cart.filter(el => el.title !== book)
                    updateTable()

                    // if (!isLoggedIn) {
                    //     alert('You must log in first...');
                    // } else {
                    //     const book = event.target.dataset.book;
                    //     const existingCartItem = Boolean(cart.find(el => el.title === book));

                    //     // If the book is already in the cart, show an alert message
                    //     if (existingCartItem === true) {
                    //         alert(`Book is already in cart`)

                    //         // If the book is not in the cart, add it to the cart and update the cart count
                    //     } else {

                    //         // If the user is logged in, check if the book is already in the cart
                    //         cart.push(...state.filter(el => el.title === book));
                    //         addToCart()
                    //     }
                    // }
                })
            });
        }

        const viewCartLink = document.getElementById('my-books');
        viewCartLink.addEventListener('click', () => {
            window.location.href = "borrowedBooks";
        }); 
    </script>
</body>

</html>