<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <div class="profile-item">
            <img src="profile.png" id="pfp" alt="profile-pic">
            <h1><i>Dominic Wilson </i></h1>
            <p>
                Hi, I’m Dominic!
 
                Am I.T. Support Analyst level two for 1.5 years while simultaneously pursuing a bachelor’s degree in Computer Science and certification for Network +.                
                I pride myself in being a driven young professional who’s hard work and enthusiasm allows me to achieve my short and long term goals in the Information Technology Industry.                
                I am a reliable and solution oriented team player which aids in my daily functions as an Analyst and group course work as a Student.                
                Being a ‘ Yardie’ (born Jamaican) and migrating to the ‘land of opportunity’ the United States of America  is a true testament to my determination to propel myself and explore my tech enthusiasm to its limits as I wish to be a Network Engineer in the future.
            </p>
        </div>
        <div class="experience-item section">
            <h2 style="float:left;">Experience</h2>
            <ul style="float:inline-start;">
                <li>Administer user accounts and devices across multiple network domains via Windows Active Directory</li>
                <li>Configuration Manager (SCCM), and Microsoft Deployment Toolkit (MDT)</li>
                <li>Implement VDI system for new VES Remote Hires</li>
                <li>Provide new user orientation in the new hire onboarding process for IT services</li>
                <li>Configure and troubleshoot VPN’s on PC and mobile devices (Pulse Secure, CheckPoint VPN, RSA VPN tokens)</li>
            </ul>
        </div>
        <div class="projects-item section">
            <hr>
            <h2 style="float:inline-start;">Projects</h2>
            <ul style="float:left;">
                <li>End of Life Project Remediation. Replacing 20 user desktop with laptops. </li>
                <li>Endpoint Remediation. Remediate computer on the network</li>
                <li>Imaging and deploy 15 laptops to new users for migration project </li> 
                <li>Laid cables for a basic school for computer lab </li>
            </ul>
            
        </div>
        <div class="hobbies-item section">
            <hr>
            <h2 style="margin:50px;text-align:center;">Hobbies</h2>
            <p>Hobbies here</p>
        </div>
    </div>
</body>
</html>