<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Juan Hernandez Homepage</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="profile-item">
        <img src="pfp.png" id="pfp" alt="profile-pic" />
        <h1><i>Juan Hernandez</i></h1>
        <p>
          Motivated with 3 years of aviation experience. Hard working and
          college student with foundations in computer science and 3 years of
          experience as a student pilot with a recenlty acquired instructor
          rating. Organized and problem solver with good leardeship f or new
          student pilots. Devoted and responsible with internal drive to
          deliver.
        </p>
        <h2>Contact &#38; Social Links</h2>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
      <div class="flex-container">
        <div class="flex-item1">
          <h2>Experience</h2>
        </div>
        <div class="flex-item2">
          <p>
            <b class="size">PTC Lantana, Instructor</b>
          </p>
          <address style="text-align: center">
            <i class="size">2633 Lantana Rd #4, Lake Worth, FL 33462</i><br />
          </address>
          <p>November 2021-Present</p>

          <ul class="list">
            <li>
              Schedule and coordinate classes, appointments, and flight training
              with students
            </li>
            <li>Teach students aviation skills on ground and in the air.</li>
            <li>Learned how to keep track of aviation records.</li>
            <li>Manage students's logbooks.</li>
            <li>Prepare students for their respective licenses.</li>
          </ul>
        </div>
      </div>
      <div class="flex-container">
        <div class="flex-item1">
          <h2>Projects</h2>
        </div>
        <div class="flex-item2">
          <ul class="list">
            <li>Resume webpage</li>
            <li>Arithmethic calculator webpage</li>
            <li>Tic-Toe game webpage</li>
            <li>Scheduler implementing FCFS</li>
          </ul>
        </div>
      </div>
      <div class="flex-container">
        <div class="flex-item1">
          <h2 class="hobbies-font">Hobbies</h2>
        </div>
        <div class="flex-item2">
          <ul class="list">
            <li>Playing video games</li>
            <li>Watching soccer and F1</li>
            <li>Cooking</li>
            <li>Watching series/movies.</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
